.profile {
  max-width: 880px;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
.profile {
  max-width: 728px;
}
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    padding-top: 33px;
    padding-bottom: 37px;
  }
}
