.popup__button_disabled {
  color: #000000;
  background-color: white;
  border: 1px solid #000000;
  opacity: 0.2;
}

.popup__button_disabled:hover {
  opacity: 0.2;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .popup__button_disabled {
    margin-bottom: 25px;
  }

}
