.elements {
  padding-bottom: 66px;
  max-width: 880px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-row-gap: 20px;
  grid-column-gap: 17px;
}

@media screen and (max-width: 950px) {
  .elements {
    max-width: 728px;
  }
}

@media screen and (max-width: 768px) {
  .elements {
    max-width: 600px;
    padding: 0 20px 50px;
  }
}
