.profile__description {
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 0 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin:5px 0 10px 36px;
    max-width: 160px;
  }
}
