.profile__edit-button {
  min-width: 24px;
  max-height: 24px;
  margin: 35px 0 0 10px;
  background-color: black;
  border: 1px solid white;
  padding: 0;
  background-image: url(../../../images/Vector-editbutton.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
  transition: 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__edit-button {
    margin-left: 18px;
    margin-left: 9px;
    min-width: 18px;
    max-height: 18px;
  }
}
