.loginPage__headerButton {
  position: absolute;
  background: #000000;
  border: none;
  color: #ffffff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  right: 0;
  top: -50px;
}

.loginPage__headerButton:hover {
  opacity: .6;
  transition: 0.5s linear;
  cursor: pointer;
}
