.element__delete {
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/delete.svg);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
  background-color: transparent;
  display: none;
}

.element__delete:hover {
  opacity: .5;
  transition: 0.5s linear;
  cursor: pointer;
}
