.profile__add-button {
  min-width: 150px;
  max-height: 50px;
  margin: 36px 0 0 0;
  background-color: black;
  border: 1px solid white;
  background-image: url(../../../images/Vector-addbutton.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.profile__add-button:hover {
  opacity: .6;
  transition: 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    min-width: 282px;
    margin: 19px auto 0;
    min-height: 50px;
  }
}
